@media screen {
    * {
        font-family: sans-serif;
    }
    
    .hide {
        display: none;
    }
    
    .strong {
        font-weight: bold;
    }
    
    #screen {
        display: block;
    }
    
    .editlist-forme {
        font-size: 0.7em;
    }
    
    .invalid {
        background: #FFD6D6;
    }
    
    #format {
        width: 376px;
    }
    
    #edit-teamlist table {
        border-collapse: collapse;
    }
        #edit-teamlist table td {
            border: 1px solid black;
        }
            #edit-teamlist table td.editlist-number {
                padding-left: 5px;
                width: 33px;
            }
            #edit-teamlist table td.editlist-nameforme {
                padding-left: 5px;
                width: 198px;
            }
            #edit-teamlist table td.editlist-ability {
                padding-left: 5px;
                width: 135px;
            }
    
    #totext, #fromtext-open, #text-close, #fromtext {
        width: 215px;
    }
    
    #textloader {
        width: 428px;
        /*height: 100px;*/
    }
    
    #edit-details table {
        border-collapse: collapse;
    }
        #edit-details table td {
            border: 1px solid black;
            min-width: 50px;
        }
            #edit-details table td.head-cell {
                padding-left: 5px;
            }
            #edit-species {
                width: 101px;
                margin-left: 2px;
            }
            #edit-forme {
                width: 137px;
                margin-left: 2px;
            }
            #edit-nickname {
                width: 313px;
                margin-left: 2px;
            }
            #edit-level, #edit-item {
                width: 133px;
                margin-left: 2px;
            }
            #edit-nature, #edit-ability {
                width: 137px;
                margin-left: 2px;
            }
            #edit-details table td.stat-col {
                width: 69px;
            }
                #edit-details table td.stat-head {
                    text-align: center;
                }
                #edit-details table td.stat-col input {
                    width: 61px;
                    margin-left: 2px;
                }
            
            #edit-details .moves-head {
                text-align: center;
            }
            #edit-details .edit-move {
                width: 97px;
                margin-left: 2px;
            }
            #edit-submit {
                width: 425px;
                margin-left: 2px;
            }
}